/* App.css */

/* Main container styles */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #303c66;
    font-family: 'Raleway', sans-serif;
}

button{
  margin: 5%;
  padding: 25px 30px;
  background-color: #50619f;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

button:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


.App {
  
  margin-top: 2%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-style: italic;
  padding: 20px;
  

  
 
}

/* Header styles */
h1 {
  color: #5be4dd;
}

/* File input styles */
input[type="file"] {
  border: none;
  background-color: #6691c2;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Error message styles */
.error {
  color: #ff0000;
  font-weight: bold;
  margin-top: 10px;
}

/* Analysis results container styles */
div > h2 {
  margin-top: 20px;
}

/* Result paragraph styles */
p {
  font-size: 18px;
  margin: 5px 0;
  
}

/* File content styles */
pre {
  border: 1px solid #0a0909;
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 16px;
}
/* .file-content {
  width: 50%; 
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: white;
  overflow-y: auto;
} */

.file-content {
  height: 50vh; /* Adjust this to change the height as needed */
  overflow-y: auto;
}

 .result{
background-color: #92b0dc;




 }

 .hide{
  display:none;
 }
 .claim-content{
  background-color: aliceblue;
 }